.video-background {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 0%; */
    height: 500px;
    overflow: hidden;
  }
  
  .video-background video {
    position: inherit;
    top: 11%;
    left: 0;
    width: 70%;
    height: auto;
    object-fit: fill;
  }
