/* .property-table {
  margin: 2rem auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
} */

.property-table {
    margin: 2rem auto;
    width: 80%;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #000000;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 0.5rem;
    text-align: center;
    color: #000000;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #dddddd;
  }

  .property-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .property-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  